apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: emqx
  labels:
    {{- include "aerocommand.labels" . | nindent 4 }}
    app: emqx
spec:
  serviceName: {{ include "aerocommand.fullname" . }}-emqx
  replicas: {{ .Values.emqx.replicaCount }}
  selector:
    matchLabels:
      app: emqx
  template:
    metadata:
      labels:
        app: emqx
        {{- include "aerocommand.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: emqx
          image: {{ .Values.emqx.image.repository }}:{{ .Values.emqx.image.tag }}
          ports:
            - name: mqtt
              containerPort: {{ .Values.emqx.service.ports.mqtt }}
            - name: mqtt-ws
              containerPort: {{ .Values.emqx.service.ports.mqttWs }}
            - name: mqtt-ssl
              containerPort: {{ .Values.emqx.service.ports.mqttSsl }}
          env:
            - name: EMQX_NAME
              value: aerocommand
            - name: EMQX_HOST
              value: "127.0.0.1"
          resources:
            {{- toYaml .Values.emqx.resources | nindent 12 }}
          readinessProbe:
            exec:
              command: ["emqx", "ping"]
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "aerocommand.fullname" . }}-emqx
  labels:
    {{- include "aerocommand.labels" . | nindent 4 }}
spec:
  selector:
    app: emqx
  ports:
    - name: mqtt
      port: {{ .Values.emqx.service.ports.mqtt }}
      targetPort: {{ .Values.emqx.service.ports.mqtt }}
    - name: mqtt-ws
      port: {{ .Values.emqx.service.ports.mqttWs }}
      targetPort: {{ .Values.emqx.service.ports.mqttWs }}
    - name: mqtt-ssl
      port: {{ .Values.emqx.service.ports.mqttSsl }}
      targetPort: {{ .Values.emqx.service.ports.mqttSsl }}
  type: {{ .Values.emqx.service.type }}
